{% extends 'base.html' %}
{% load my_tags %}

{% block title %}Информация о продукте{% endblock %}

{% block content %}
<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
    <h1 class="display-4">Данные о продукте</h1>
</div>
<h1>Информация о продукте</h1>
<p>Изображение: <img src="{{ image | media_filter }}" style="width: 50px" alt="{{ product_name }}"></p>
<p>Название: {{ product_name }}</p>
<p>Категория: {{ category }}</p>
<p>Описание: {{ description }}</p>
<p>Стоимость: {{ price }}$</p>
<p>Дата создания: {{ created_at }}</p>
<p>Дата последнего изменения: {{ updated_at }}</p>
{% endblock %}